$breakpoint-mobile: 'only screen and (max-width: 767px)';
$breakpoint-tablet: 'only screen and (min-width: 768px)';
$breakpoint-desktop: 'only screen and (min-width: 1260px)';

body {
  background-color: #333333;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;

  @media #{$breakpoint-desktop}, #{$breakpoint-tablet} {
    width: 80vw;
  }

  @media #{$breakpoint-mobile} {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
