<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to vemsy</title>
    {% for my_style in styles %}
      <link href="{{my_style.file}}" rel="stylesheet" type="text/css">
    {% endfor %}
  </head>
  <body>
    {{ markdown }}
  </body>
</html>
